<div class="main-page-content">
<h1 class="main-title">Fit Tracker</h1>

  <%= link_to  "LOG IN", '/login', class: 'login-btn' %>
  <%= link_to  "SIGN UP", new_user_path, class: 'signup-btn' %>
</div>