<h1 class="nav-title">Groups</h1>

<p id="notice"><%= notice %></p>

<div class="item-box">
  <% @groups.reverse_each do |group| %>

  <%= link_to raw("#{image_tag(group.Icon, class: 'item-icon')}
    <p class='group-name'> #{group.Name} </p>
    <p> Total execises: #{group.exercises.count} </p>
    <p> Created at: #{group.created_at.strftime('%d / %m / %y')} </p>"), 
  group_path(group.id), class: 'item' %>

  <% end %>
</div>

<%= link_to raw('<span>New Group</span>'), new_group_path, class: 'action-btn' %>