<%= form_with(model: user, local: true) do |form| %>
<p id="alert"> <%= alert %> </p>

<%= form.text_field :Name, placeholder: 'Name', class: 'name-input' %>

<%= form.submit 'Sign up', class: 'submit-btn' %>
<% end %>