@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
$main-color: #3778c2;
$second-color: #5fb523;
$text-color: #434b54;

body {
  background-color: #fff;
  color: #333;
  margin: 0;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3.6rem;
  width: 28rem;
  margin: 0 auto;
  background: linear-gradient($main-color, #2b63a3);

  .logout-btn {
    position: absolute;
    padding: 0.6rem 0.8rem;
    top: 0.6rem;
    right: 0.6rem;
    background-color: transparent;
    color: white;
    border: none;
    z-index: 1;
  }
}

main {
  width: 28rem;
  margin: 0 auto;
  background-color: #f1f3f2;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
}

// a:visited {
//   color: #666; }

// a:hover {
//   color: #fff;
//   background-color: #000; }

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

$main-color: #3778c2;
$second-color: #5fb523;
$text-color: #434b54;

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.nav-title {
  color: white;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  top: 0;
  position: relative;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.logout-btn:hover {
  cursor: pointer;
  background-color:  #6d9ed6;
}
